.rt-ComboboxTrigger.rt-variant-surface {
  &:is(:has(.rt-TextFieldInput:is(:read-only))) {
    background-image: none;
    box-shadow: inset 0 0 0 var(--text-field-border-width) var(--gray-a7);
  }
}

.rt-ComboboxItem {
  &:where([data-disabled="true"]) {
    cursor: default;
  }
}

.rt-ComboboxItem:where([data-disabled="true"]) {
  color: var(--gray-a8);
}

.rt-ComboboxItem:where([data-disabled="true"], [data-selected="true"]) {
  & :where(.rt-BaseMenuShortcut) {
    color: inherit;
  }
}

.rt-ComboboxList {
  & {
    margin-top: 8px;
  }
}

/* solid */

/* where(.rt-variant-solid) */
.rt-ComboboxContent {
  & :where(.rt-ComboboxItem[data-selected="true"]) {
    background-color: var(--accent-9);
    color: var(--accent-contrast);
  }
  & :is(.rt-ComboboxItem[data-disabled="false"]) {
    color: var(--accent-contrast);
  }
  &:where(.rt-high-contrast) {
    & :where(.rt-ComboboxItem[data-selected="true"]) {
      background-color: var(--accent-12);
      color: var(--accent-1);
    }
  }
}

/* soft */

/* .rt-ComboboxContent:where(.rt-variant-soft) {
  & :where(.rt-ComboboxItem[data-selected="true"]) {
    background-color: var(--accent-a4);
  }
} */
